body {
	min-height: 100vh;
	min-width: 100vh;
	background-color: darkgray;
	color: white;
	text-align: center;
}

p{
	font-size: 40px;
}


.selections {
	display: flex;
	justify-content: center;
}

.selections button {
	padding: 8px 16px;
	font-size: 30px;
	border-radius: 10px;
	background-color: blue;
	color: white;
}

.gameBoard {
	display: grid;
	justify-content: center;
	grid-gap: 16px;
	grid-template-columns: auto auto auto auto auto auto;
}

.card {
	height: 210px;
	width: 140px;
	border-radius: 10px;
	background-color: white;
	position: relative;
	transform-style: preserve-3d;
	transition: all 0.3s ease-in-out;
}

.card.flipped {
	transform: rotateY(180deg);
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	border-radius: 10px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.card .front {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .back {
	background-color: red;
	background-position: center center;
	background-size: cover;
	backface-visibility: hidden;
}

.card .front {
	transform: rotateY(180deg);
}

.gameOverPanel {
	position: absolute;
	color: black;
	left: 0px;
	top: 0px;
	Background-color: white;
	height: 40%;
	width: 60%;
	border: 3px solid black;
	z-index: 2;
}
