:root{
	--hardButtonColor: #f00;
}

body {
	background-color: #616968;
	color: white;
	text-align: center;
}

.mainHeader{
	margin: 1%;
}

.mainMenu button{
	padding: 8px 16px;
	font-size: min(4vw, 40px);
	border-radius: 10px;
	background-color: transparent;
	margin: 5%;
	border-width: 5px;
	border-style: solid;
	font-weight: bold;
}

#easyButton{
	border-color: green;
	color: green;
}

#easyButton:hover{
	background-color: green;
	color: black;
	mix-blend-mode: screen;
}

#normalButton{
	border-color: lightblue;
	color: lightblue;
}

#normalButton:hover{
	background-color: lightblue;
	color: black;
	mix-blend-mode: screen;
}

#hardButton{
	border-color: var(--hardButtonColor);
	color: var(--hardButtonColor);
}

#hardButton:hover{
	background-color: var(--hardButtonColor);
	color: black;
	mix-blend-mode: screen;
}

.scoreBoard{
	font-size: min(3.5vw, 40px);
	display: none;
	position: sticky;
	z-index: 1;
	top: 0;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: min(60%, 570px);
	color: white;
	background-color: rgba(97, 105, 104, 0.5);
	border-radius: 10px;
	padding: 0.2%;
	box-sizing: border-box;
}


.scoreLabel{
	text-align: left;
}
.score{
}

.livesLabel{
	margin-left: 10%;
	margin-right: auto;
	box-sizing: border-box;
}

.lives{
	text-align: left;
}

.gameBoard {
	display: grid;
	margin-top: 1%;
	justify-content: center;
	grid-gap: 1vw;
	grid-template-columns: auto auto auto auto auto auto;
}

.card {
	width: 14vw;
	max-width: 140px;
	aspect-ratio: 14 / 21;
	border-radius: 10px;
	background-color: white;
	position: relative;
	transform-style: preserve-3d;
	transition: all 0.3s ease-in-out;
}

.card.flipped {
	transform: rotateY(180deg);
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	border-radius: 10px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.card .front {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card .back {
	background-color: black;
	background-image: radial-gradient(circle, black, darkred);
	background-position: center center;
	background-size: cover;
	backface-visibility: hidden;
}

.card .back:hover{
	box-shadow: 0 0 5px aliceblue;
}

.card .front {
	transform: rotateY(180deg);
}
.cardPicture{
	font-size: min(9vw, 90px);
}

.gameOverPanel {
	position: absolute;
	top: 30%;
	left: 50%;
	color: black;
	Background-color: white;
	width: min(60%, 630px);
	border: 3px solid black;
	z-index: 2;
	transform: translate(-50%, -30%);
	display: none;
	aspect-ratio: 3 / 2;
}

#gameOverText{
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gameMenuElements{
	display: none;
	justify-content: center;
}

.gameMenuElements button {
	padding: 8px 16px;
	font-size: min(3vw, 30px);
	border-radius: 10px;
	background-color: transparent;
	margin: 2%;
	border-width: 4px;
	border-style: solid;
	font-weight: bold;
}

#menuButton{
	border-color: lightgray;
	color: lightgray;
}
#menuButton:hover{
	background-color: lightgray;
	color: black;
	mix-blend-mode: screen;
}

#restartButton{
	border-color: black;
	color: black;
}

#restartButton:hover{
	background-color: black;
	color: white;
	mix-blend-mode: multiply;
}





